.row-container {
  display: flex;
  align-items: center;
  height: 75px;
}
/*По макету мои названия не влезают в маленькие плашки. Если сделать все бонусы активными то они не влезают в макет размером w:1980px*/
.row-container__tags {
  border: #000 solid 1px;
  background-color: #00FF75;
  color: #000;
  min-width: 110px;
  height: 25px;
  margin: 0 10px 0 0;
  padding: 0 5px;
}

.row-container__tags_color {
  background-color: #FCE5CD;
}