input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.bonus-grid {
  width: 380px;
  height: 520px;
  background-color: #4B4B4B;
  grid-area: bonus;
  color: #fff;
  padding: 0 20px 20px 30px;
}

.bonus-grid__form {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.bonus-grid__title {
  font-size: 36px;
  margin: 0;
  padding-bottom: 13px;
}

.bonus-grid__label {
  margin-bottom: 10px;
}

.bonus-grid__input {
  background-color: #2E2E2E;
  height: 25px;
  width: 145px;
  float:right;
  color: #fff;
  text-align: center;
  font-size: 16px;
  border: #000 solid 1px;
}

.bonus-grid__button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.bonus-grid_buttons-prop {
  width: 85px;
  height: 25px;
  background-color: #2E2E2E;
  color: #fff;
  border: #000 solid 1px;
}

.bonus-grid_buttons-prop:hover {
  background-color: #FCE5CD;
  color: #000;
}